body {
    font-family:'PT Sans', sans-serif;
}

.estilos {
    background-color: rgb(190, 166, 100);
    
/* para ordenarlos como queramos */
    display: flex;
    justify-content: space-evenly;
}

/* darle estilos */
.estilos a {
    color:rgb(250, 235, 215);
    text-decoration: none;
    padding: 0.70rem;
}

/* para agregar el "boton" a los enlaces */
.estilos a:hover {
    background-color: rgb(10, 10, 10);
}

.contenedor {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    font-weight: 700;
}

.seccion {
    background-image: url(../img/oficina.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10rem;
    position: relative;
}
.seccion1 {
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    background-color: rgb(0, 0, 0, .5);
}